body{
  background-image: linear-gradient(to bottom,black,black,black);
}
nav{
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: black;
  border-bottom: 1px solid rgba(106,32,23,1);

}
a{
  color:inherit;
  text-decoration: none;
}
a:hover{
  color:inherit;
  text-decoration: none;
}

div span img{
  height: 2em;
  margin-right: 0.8em;
}
@font-face {
font-family: metal;
src :url(fontes/Heavy Metal Rockin.ttf);
}

@font-face {
font-family: icones;
src :url(fontes/logos.ttf);
}
@font-face {
font-family: metal2;
src :url(fontes/CRAWLER-RegularDEMO.ttf);
}
@font-face {

src :url(fontes/fontemetal.ttf);
font-family:meta;
}

@font-face {

src :url(fontes/Long_Shot.ttf);
font-family:subt;
}
h2{
  font-family: subt;
}
.icon{
  font-size: 2.5em;
  margin-right: 0.2em;
  font-family: icones;
  /* filter: invert(100); */

}
body{
  background-color: rgba(0,0,0,1);
}
.fotos-nome{

    text-shadow: 4px 2px black;
  }
.fotos img{
  border-radius: 0.3em;
  background-image: radial-gradient(grey, grey);
  /* box-shadow: 3px 3px 1px; */
}
h1{
  font-weight: 100;
  margin-top: 2em;
  font-size: 3em;
  font-family:metal2;
}
.btn-outline-danger{
color: rgba(186,32,23,1);
border: 2px solid rgba(106,32,23,1);

}

.btn-outline-danger:hover{
background-color: black;
color:white;
border: 2px solid rgba(106,32,23,1);

}]

.navbar-expand-lg{
border-bottom: 3px solid rgba(106,32,23,1);
animation:8s cor linear;
}
#eventos{
  width: 2.8em;
  border-bottom: 9px solid rgba(106,32,23,1);
  border-bottom-width: 0.1em;
  margin-top: 1em;
  border-bottom-left-radius: 10px;

}
.fotos-esquerda{


  margin-left: 9em;
}
.fotos-direita{
  margin-right: 9em;
}
#edu{
  float: left;
}
#luis{
  float: left;
}
#nando{
  float: right;

}
#rafael{
  float: right;

}
#galeria{
  width: 2.5em;

  border-bottom: 9px solid rgba(106,32,23,1);
  border-bottom-width: 0.1em;
  border-bottom-left-radius: 10px;

}
#integrantes{
  width: 4.2em;

  border-bottom: 9px solid rgba(106,32,23,1);
  border-bottom-width: 0.1em;
  border-bottom-left-radius: 10px;

}

#albuns{
  width: 2.5em;

  border-bottom: 9px solid rgba(106,32,23,1);
  border-bottom-width: 0.1em;
  border-bottom-left-radius: 10px;

}
#email{
  border: 0px;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid rgba(106,32,23,1);
}
#tit-emai
{
  border: 0px;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid rgba(106,32,23,1);
}
#emai
{
  border: 0px;
  background-color: rgba(0,0,0,0);
  border-bottom: 1px solid rgba(106,32,23,1);
}
#contato{
  width: 2.7em;

  border-bottom: 9px solid rgba(106,32,23,1);
  border-bottom-width: 0.1em;
  border-bottom-left-radius: 10px;

}

footer{
  background-color: black;
  border-top: 1px solid rgba(106,32,23,1);
font-size: 1.5em;
  color:red;
}
.fotos-bot{
  margin-bottom: 1em;

}
.integrante-foto {
  margin-top: 1em;
}
.fotos:hover{
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 4px solid grey; */
  border-radius: 0.3em;
  /* background-image: radial-gradient(black,black,grey); */
  /* background-image: linear-gradient(to bottom,gray,black,black,black,black,grey); */
  box-shadow: 1px 1px 3px 3px red;
}
div center img{
  height:25em;
}
.integrante-bloco:hover{
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 4px solid grey; */
  border-radius: 0.3em;
  /* background-image: radial-gradient(black,black,grey); */
  /* background-image: linear-gradient(to bottom,gray,black,black,black,black,grey); */
border-bottom: 1px solid red;
border-top: 1px solid red;
}

form:hover{
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 4px solid grey; */
  border-radius: 0.3em;
  /* background-image: radial-gradient(black,black,grey); */
  /* background-image: linear-gradient(to bottom,gray,black,black,black,black,grey); */
  box-shadow: 1px 1px 3px 3px red;

}
.form-control{
    border-bottom: 1px solid black;

}
form{
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  border-radius: 0.3em;
  transition-duration: 0.70s;
padding:  1em  1em  1em  1em;
box-shadow: 1px 1px 3px 3px black;

}

.btn:active{
  border: 1px solid red;
}
.btn:focus{
  border: 1px solid red;

}
.icon-yt{
  margin-left: 5em;
  float: left;
}
.icon-fb{

  margin-right:5em;
  float: right;

}

i{
  font-family: icones;
}
.letra{
  text-align: left;
}
.fotos{
  padding-top: 1em;
  padding-bottom: 1em;
  /* border: 4px solid grey; */
  border-radius: 0.3em;
  /* background-image: radial-gradient(black,black,grey); */
  /* background-image: linear-gradient(to bottom,gray,black,black,black,black,grey); */
  /* box-shadow: 1px 1px 3px 3px rgba(255,255,255,0.5);   */
  transition-duration: 0.7s;

}
.fotos-foto{
  margin-top: 1em;
  margin-bottom: 1em;
  height: 12em;
}
#val{
  margin-left: 50%;
  font-size: 0.8em;
}
#video{
  width: 100%;
  background-color: black;
  margin-top: 5em;
border-bottom: 1px solid rgba(106,32,23,1);
}
.integrante-bloco{
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  border-radius: 0.3em;
  transition-duration: 0.70s;
padding:  1em  1em  1em  1em;
box-shadow: 1px 1px 3px 3px black;

}
.single{
  border-top: 1px solid black;
  border-bottom: 1px solid black;

  border-radius: 0.3em;
  transition-duration: 0.70s;
padding:  2em  2em  2em  2em;
box-shadow: 1px 1px 3px 3px black;

}
#s1{
  float: left;
  margin-left: 7em;
}
#s2{
  float: right;

  margin-right: 7em;
}
.single:hover{

box-shadow: 1px 1px 3px 3px red;

}
.single-video{
width: 100%;
}
.integrante-nome{
  font-size: 1.8em;
}
.integrante-bloco h2{
  margin-top: 0.5em;
}

@keyframes cor {
  0%{
    background-image: linear-gradient(to right,rgba(106,32,23,1),rgba(0,0,0,1));

  }
  10%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.9),rgba(0,0,0,1));

  }
  20%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.8),rgba(0,0,0,1));

  }
  30%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.7),rgba(0,0,0,1));

  }
  40%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.6),rgba(0,0,0,1));

  }
  50%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.5),rgba(0,0,0,1));

  }
  60%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.4),rgba(0,0,0,1));

  }
  70%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.3),rgba(0,0,0,1));

  }
  80%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.2),rgba(0,0,0,1));

  }
  90%{
    background-image: linear-gradient(to right,rgba(106,32,23,0.1),rgba(0,0,0,1));

  }

}

.main{
  margin-top: 1em;
}
.main-img{
  border: 1px solid rgba(106,32,23,1);
  border-radius: 1em;
}
#logo{
height: 5em;
border: 1px solid rgba(106,32,23,0);
transition-timing-function: linear;
transition-duration: 0.3s;
animation: 5s giro linear;
border-radius: 5em;
}
@keyframes giro {
0%{transform: rotate(0deg);}
50%{transform: rotate(360deg); border: 2px dotted gray;}
0%{transform: rotate(0deg);border: 1px solid rgba(106,32,23,0);}
}
.nav-link{
color:rgba(106,32,23,1);
}
#button-menu:hover + #logo{
  border: 1px solid rgba(106,32,23,1);
}
#button-menu:hover + body{
background-color: yellow;
}
nav div button span{
  color:gray;
  display: none;
  font-size: 1.2em;
  font-family: metal;

}
nav div button span::first-letter{
  font-size: 1.3em;
}
.navbar-collapse{
  display:inherit;
}
.navbar-nav{
  display: inherit;
}
nav div button{
  display: none;
}
div h4 sup{
  font-size: 0.6em;
}
.evento-bloco{
  border: 5px solid rgba(106,32,23,1);
  border-radius: 0.5em;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-left-style: dotted;
border-left-width: thick;
}
@media screen and (max-width:1000px) {
nav div button{
  display: inherit;
}
integrante-bloco{
  float: inherit;
margin-left: 0em;
margin-right: 0em;
}
  nav div button span{
    display: inherit;
  }
  .navbar-collapse{
    display:inherit;
  }
  .navbar-nav{
    display: inherit;
  }
  #logo{
margin-left: 1em;
  }
  .fotos-esquerda{
    float: inherit;
    margin-left: 0em;
  }
  .fotos-direita{
    float: inherit;

    margin-right: 0em;
  }
  #button-menu{
    font-size: 1.6em;
  }
  .nav-link{
    font-size: 2.4em;
    font-weight: bold;
    margin-left: 1em;
  }
  h1{
    font-size: 3.8em;
  }
  .evento-bloco .text-warning{
    font-size: 0.8em;
  }
  .evento-bloco .text-danger{
    font-size: 2em;
  }


#val{
     font-size: 0.8em;
float: right;
top: -0.8em;
 }

  .evento-bloco h6{
    font-size: 2.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .evento-bloco .btn{
    font-size: 2.5em;
  }
  .single .btn{
    font-size: 2.5em;
  }
  form .btn{
    font-size: 2.5em;
  }

  .fotos .btn{
    border-radius: 0.5em;
  }
  .integrante-bloco div a span{
    height: 0.5em;
  }
  #edu{
  float: inherit;
margin-left: auto;
}
#luis{
    float: inherit;
margin-left: auto;
}

  #nando{
  float: inherit;
margin-left: auto;
}
  #rafael{
   float: inherit;
margin-left: auto;
}
div center img{
  height:auto;
}
.single-video{
  height: 24em;
}
#s1{
  float: inherit;
  margin-left: auto;
  margin-right: auto;
}
#s2{
  float: inherit;
  margin-left: auto;
  margin-right: auto;

}
}
